html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
	/*top & bottom */
	/* bottom = footer height */
    margin: 150px 0px 85px 0px;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
  position: fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

mark {
  background-color: #D7FDE8;
  padding: 0;
}

#body-container {
	/*right & left */
  margin: 0px 5vw 0px 5vw;
}

@media (max-width: 900px) {
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    font-size: 16px;
  }
  body {
    cursor: pointer;
  }
}

