html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    /*top margin*/
    margin-top: 11vh;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll !important;
}

body.modal-open {
    height: 100vh;
    position: fixed;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


mark {
    background-color: #D7FDE8;
    padding: 0;
}

#body-container {
    /*right & left */
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 4vh;
    padding-bottom: 10vh;
}

@media (max-width: 900px) {
  code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
      font-size: 16px;
  }

  body {
      cursor: pointer;
  }

  #body-container {
      /*right & left */
      margin-left: 5vw;
      margin-right: 5vw;
      padding-top: 9vmax;
      padding-bottom: 10vh;
  }
}

