html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
	/*top & bottom */
	/* bottom = footer height */
    margin: 130px 0px 75px 0px;
}

#body-container {
	/*right & left */
	margin: 0px 75px 0px 75px;
}