#header {
	left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #011E13;
    z-index: 999;
}

#navbar {
	justify-content: center;
}

.navbar-nav {
	width: 100%;
	align-items: center;
	justify-content: space-around;
}

nav {
	text-align: center;  
	align-items: center;
	justify-content: center;
}

nav a {
	color: white;
	font-size: 21px;
	text-transform: uppercase;
}

nav a:hover {
	color: #1ED761;
	text-decoration: none;
}
