#header {
	left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #011E13;
    z-index: 999;
}

#navbar {
	justify-content: center;
}

#responsive-navbar-nav {
	align-items: center;
	justify-content: center;
		text-align: center; 
}

a {
	color: #FFF;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 21px;
	text-transform: uppercase;
}

a:hover {
	color: #1ED761;
	text-decoration: none;
}
