#welcome-banner {
	margin-top: -33px;
	background-image: url("../images/welcome.jpg");
	min-height: 625px;
}

#welcome-banner-title {
	color: #011E13;
	font-size: 100px;
	font-weight: bold;
}

#welcome-banner-text {
	color: #1ED761;
	font-size: 25px;
	margin-bottom: 125px;
}

#quote-container {
	text-align: center;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 50px;
	
}

#daily-quote-quote {
	font-size: 35px;
	font-weight: lighter;
	color: #011E13;
}

#daily-quote-author {
	font-size: 25px;
	font-weight: lighter;
	color: #011E13;
}
