.flex-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.banner {
	width: 100%;
 	height: auto;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
}

.title {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.subtitle-left {
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subtitle-center {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subsubtitle-center {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subsubtitle-left {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.table-center-margin {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	resize: both;
	overflow: auto;
}

.table-center-no-margin {
	text-align: center;
	resize: both;
	overflow: auto;
}

.text-center {
	font-size: 25px;
	font-weight: normal;
	color: black;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}

.text-left {
	font-size: 25px;
	font-weight: normal;
	color: black;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 30px;
}

.starIcon {
	margin-right: 10px;
	margin-bottom: 10px;
}

.code-text-sm {
	width:100%;
	font-size: 15px;
	font-weight: normal;
	color: black;
	text-align: left;
	margin: 10px;
}

.code-text-lg {
	width:100%;
	font-size: 20px;
	font-weight: normal;
	color: black;
	text-align: left;
	margin: 10px;
}

.image {
    width: 100%;
    height: auto;
}