#dropdown-item-button {
	width: 100%;
	font-size: 40px;
	background-color: #011E13;
	color: #1ED761;
	margin-top: 20px;
	margin-bottom: 30px;
}

#sortingButtonContainer {
	margin-top: 10px;
}

.dropdown-menu {
	background-color: #011E13;
	right: 0% !important;
	z-index: 2;
	-webkit-transform: none !important;
	transform: none !important;
	margin-top: 92px !important;
}

.btn-primary {
	font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.dropdown-item {
	text-align: center;
	color: white;
	font-size: 35px;
}

.dropdown-item:hover {
	background-color: #011E13;
	color: #1ED761;
	font-weight: bold;
	text-decoration: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #011E13;
	color: #1ED761;
}

:focus { 
	outline: none;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.rowContainer-sides {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.rowContainer-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.colContainer {
	display: flex;
	justify-content: center;
    align-items: center;
}

.btn-primary {
	font-size: 30px;
	background-color: #011E13;
	border:none;
}

.btn-primary:hover {
	background-color: #011E13;
	color: #1ED761;
	font-weight: bold;
	text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #1ED761;
	font-weight: bold;
	color: #011E13;
}

.rc-slider-track {
	background-color: #1ED761;
	height: 12px;
}

.rc-slider-handle {
	height: 35px;
	width: 35px;
	margin-top: -11px;
	border: solid 2px #011E13 !important;
}

.rc-slider-handle:hover {
	border-color: none;
}

.rc-slider-handle:focus {
	border-color: none;
	box-shadow: none;
}

.rc-slider-rail {
	height: 14px;
}

.valueText {
	text-align: center !important;
	font-size: 35px;
	font-weight: bold;
}

@media (max-width: 900px) {
	#dropdown-item-button {
		width: 100%;
		font-size: 30px;
		background-color: #011E13;
		color: #1ED761;
		margin-top: 10px;
		margin-bottom: 30px;
	}

	.dropdown-menu {
		background-color: #011E13;
		right: 0% !important;
		z-index: 2;
		-webkit-transform: none !important;
		transform: none !important;
		margin-top: 67px;
	}

	.dropdown-item {
		text-align: center;
		color: white;
		font-size: 26px;
	}

	.rowContainer-sides {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-right: 2vw;
		padding-left: 2vw;
	}

	.btn-primary {
		font-size: 19px;
		background-color: #011E13;
		border:none;
		margin-top: 5px;
		margin-bottom: 5px; 
	}

	.rc-slider-handle {
		height: 30px;
		width: 30px;
		margin-top: -9px;
		border: solid 2px #011E13 !important;
	}

	.valueText {
		text-align: center !important;
		font-size: 22.5px;
		font-weight: bold;
	}

	.sliderTitle {
		margin-left: 5px;
	}
}