#dropdown-item-button {
	width: 100%;
	font-size: 40px;
	background-color: #011E13;
	color: #1ED761;
	margin-bottom: 30px;
}

.dropdown-menu {
	background-color: #011E13;
	right: 0% !important;
	z-index: 2;
	-webkit-transform: none !important;
	transform: none !important;
	margin-top: 65px;
}

.btn-primary {
	font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.dropdown-item {
	text-align: center;
	color: white;
	font-size: 35px;
}

.dropdown-item:hover {
	background-color: #011E13;
	color: #1ED761;
	font-weight: bold;
	text-decoration: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #011E13;
	color: #1ED761;
}

:focus { 
	outline: none;
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.rowContainer-sides {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.rowContainer-center {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.colContainer {
	justify-content: flex-end;
	align-items: center;
}

.btn-primary {
	font-size: 30px;
	background-color: #011E13;
	border:none;
}

.btn-primary:hover {
	background-color: #011E13;
	color: #1ED761;
	font-weight: bold;
	text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #1ED761;
	font-weight: bold;
	color: #011E13;
}

.rc-slider-track {
	background-color: #1ED761;
	height: 12px;
}

.rc-slider-handle {
	height: 35px;
	width: 35px;
	margin-top: -11px;
	border: solid 2px #011E13 !important;
}

.rc-slider-handle:hover {
	border-color: none;
}
.rc-slider-handle:focus {
	border-color: none;
	box-shadow: none;
}

.rc-slider-rail {
	height: 14px;
}

.valueText {
	text-align: center !important;
	font-size: 35px;
	font-weight: bold;
}