footer {
	background: #011E13;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.FooterText {
	color: white;
	font-size: 20px;
}

.CopyrightIcon {
	margin-bottom: 4px;
	margin-right: 2px;
	font-size: 18px;
}

