.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.banner {
	width: 100%;
	background-color: white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 625px;
	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
}

.title {
	font-size: 40px;
	font-weight: bold;
	width:100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.subsubtitle {
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.table-center {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.text-center {
	font-size: 25px;
	font-weight: normal;
	color: black;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
}

.text-left {
	font-size: 25px;
	font-weight: normal;
	color: black;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 30px;
}

.starIcon {
	margin-right: 10px;
	margin-bottom: 10px;
}